{% extends 'core/base.html' %}

{% block title %} Contacto {% endblock %}

{% block background %} {% load static %} {% static 'core/img/contact-bg.jpg' %} {% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-7 col-md-10 mx-auto">
        <p> ¿Tienes alguna pregunta o quieres trabajar conmigo? Enviame un mensaje y me pondré en contacto contigo</p>
        <br />
        <form action="/create-contact-message/" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% comment %} <label for="nameInput">Nombre</label> {% endcomment %}
                <input type="text" class="form-control" id="name" name="name" maxlength="100" placeholder="Nombre" />
            </div>
            <div class="form-group">
                {% comment %} <label for="nameInput">Correo</label> {% endcomment %}
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
                <small id="emailHelp" class="form-text text-muted">Nunca compartiré tu email con nadie.</small>
            </div>
            <div class="form-group">
                {% comment %} <label for="messageInput">Message</label> {% endcomment %}
                <textarea class="form-control" placeholder="Tu mensaje" id="message" name="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}